.container-fluid
{
  padding-left: 0%;
  padding-right: 0%;
}

nav ul li a
{
  font-size:1.1rem;
  font-weight:600;
}
nav a{
  font-style:absolute;
  font-weight:700;
}
.back{
  border:2px solid black;
  border-radius: 20px;
  background-color:rgb(206, 33, 33);
}
.top-hero-section
{
  color:white;
  font-style:italic;
}
.top-hero-section a
{
   color:white;
   font-weight:600;
}
.resume
{
    width: 70px;
    border: 2px solid rgb(61, 124, 196);
    padding:5px;

}
footer{
  background-color: brown;
  position:absolute;
  bottom:0;
  width:100%;
}
.makeup{
  padding-left:100px;
  padding-right:100px;
  padding-top:20px;
}
